<% include partials/head.ejs %>
<link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
  <div class="container page-wrapper">
    <div class="page-header">
      <h1>About Us</h1>
    </div>
    <div class="container">
      <div class="page-header">
        <h2>Our Humble Beggginings</h2>
      </div>
      <div>
        <p class="col-sm-8" style="font-size:20px;font-family: 'Catamaran', sans-serif;">The Entrepreneurship Cell is a non-profit organization run by the students of VNIT, Nagpur.Since its inception in 2004 , the club has served as a pathfinder to many budding entrepreneurs, including the then youngest CEO in India, Mr. Ashwin Balivada,
          who is also one of the founding members of the Club.</p>
        <img class="img-responsive col-sm-4" src="/images/about_1.jpg" alt="" width:"50px" height="auto">
      </div>
    </div>
    <div class="container">
      <div class="page-header">
        <h2 class="text-right">Our Work</h2>
      </div>
      <div>
        <img class="img-fluid col-sm-4" src="/images/about_2.jpg" alt="" width:"100%" height="auto">
        <p class="col-sm-8 pull-right" style="font-size:20px;font-family: 'Catamaran', sans-serif;">E-Cell focuses upon 'entrepreneurship' as its chief aim.E-cell not only teaches its students the technicalities of a startup and management skills but also develops within them the attitude why shouldn't they stop after a heart wrenching failure,why they shouldn't look upon a failure to be the end of their journey.

E-cell VNIT is a place where techies adorn their business caps.Entrepreneurship and business are closely related,they go hand in hand.E-cell is a confluence of professionalism,economy and business management.

</p>
      </div>
    </div>
    <div class="container">
      <div class="page-header">
        <h2>Our Vision</h2>
      </div>
      <div>
        <p class="col-sm-8" style="font-size:20px;font-family: 'Catamaran', sans-serif;">E-cell VNIT aims to produce zealous  entrepreneurs who will revolutionise the modern industry.Indian government has realized the need of new entrepreneurs for development in various fields. In continuation with this, Department of Science and Technology, Government of India, is very keen on developing Entrepreneurial Development bodies in all major educational institutions in India to make the country flourish with rising business potential.
</p>
        <img class="img-responsive col-sm-4" src="/images/ipad.png" alt="">
      </div>
    </div>

  </div>

  <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
  </html>
