<% include partials/head.ejs %>

<div class="content-padding clearfix">
  <div class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">
    <h2 style="font-family:'Bree Serif', arial; font-weight:bold;">Our Current Sponsors</h2>
    <h2 style="font-family:'Bree Serif', arial; font-weight:bold;">Flagship'17</h2>
  </div>
<div class="row">
<div class="col-md-4">
  <img src="/images/All Spons Logos/ola.jpg"/>
</div>
<div class="col-md-4">
  <img src="/images/All Spons Logos/makxenia.png"/>
</div>
<div class="col-md-4">
  <img src="/images/All Spons Logos/khichadiwala.png"/>
</div>
</div>

</div>

<div class="content-padding clearfix">
  <div class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">
    <h2 style="font-family:'Bree Serif', arial; font-weight:bold;">Our Previous Sponsors</h2>
  </div>
<div class="row">
<div class="col-md-3">
  <img src="/images/All Spons Logos/Coca-Cola.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/bsnl.jpg"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/ccd.jpg"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/central.jpg"/>
</div>
</div>
<div class="row">

<div class="col-md-3">
  <img src="/images/All Spons Logos/dhl.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/gate.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/hrmentors.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/aeolus.jpg"/>
</div>
</div>
<div class="row">

<div class="col-md-3">
  <img src="/images/All Spons Logos/arun.jpg"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/astral.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/_kickopick.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/chate.jpg"/>
</div>
</div>
<div class="row">

<div class="col-md-3">
  <img src="/images/All Spons Logos/frankie.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/iball.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/itc.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/johnson.jpg"/>
</div>
</div>
<div class="row">

<div class="col-md-3">
  <img src="/images/All Spons Logos/lic.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/mastersoft.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/national.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/newindia.png"/>
</div>
</div>
<div class="row">

<div class="col-md-3">
  <img src="/images/All Spons Logos/oyo.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/radiocity.jpg"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/sidbi.jpg"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/tie.JPG"/>
</div>
</div>
<div class="row">

<div class="col-md-3">
  <img src="/images/All Spons Logos/time.png"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/uber.jpg"/>
</div>
<div class="col-md-3">
  <img src="/images/All Spons Logos/vidarbh.png"/>
</div>
<div class="col-md-3">
<img src="/images/All Spons Logos/zebronics.png"/>
</div>
</div>
<div class="row row-centered">
<div class="col-md-3 col-centered">
  <img src="/images/All Spons Logos/vidyalankar.png"/>

</div>
</div>





</div>
<style>
img{
    max-width:100%;
    object-fit: scale-down;
    padding:9%;
}
</style>
<% include partials/footer.ejs %>
<% include partials/scripts.ejs %>
</body>
</html>
